<!-- <!DOCTYPE html> <html lang="ja"> を削除 -->
<!-- <head> 〜 </head> を削除 -->
<!-- ベーステンプレートを適用する -->
{% extends 'base.html' %}

<!-- ヘッダー情報のページタイトルは
    ベーステンプレートを利用するページで設定する -->
{% block title %}Flask Blog{% endblock %}

<!-- <body> を削除 -->
    <!-- Navigation -->
    <!-- <nav> 〜 </nav> を削除 -->

        <!-- Page Header-->
        <!-- <header> 〜 </header> をテンプレートタグで囲む -->
        {% block header %}
        <!-- 背景画像のリンク先を設定 -->
        <header class="masthead" style="background-image: url('/static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <!-- ヘッダーのタイトル -->
                            <h1>Flask Blog</h1>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- <header> 〜 </header> をテンプレートタグで囲む -->
        {% endblock %}

        <!-- Main Content-->
        <!-- メインコンテンツを設定する <div> 〜 </div> をテンプレートタグで囲む -->
        {% block contents %}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- レコードが格納されたrowsから1件ずつentryに取り出す -->
                    {% for entry in rows %}
                    <!-- Post preview -->
                    <div class="post-preview">
                        <a href="post.html">
                            <!-- titleフィールドを入力 -->
                            <h2 class="post-title">{{entry.title}}</h2>
                            <!-- contentsフィールドを出力:出力文字数を80字以内に制限 -->
                            <!-- サブタイトルのレベルをh5にする -->
                            <h5 class="post-subtitle">{{entry.contents|truncate(80)}}</h5>
                        </a>
                        <p class="post-meta">
                            <!-- ページの最上部にリンクする -->
                            <a href="#">Flask blog</a>
                            <!-- create_atフィールドを出力 -->
                            {{entry.create_at}}に投稿
                        </p>
                    </div>
                    <!-- Divider -->
                    <hr class="my-4" />
                    <!-- for ブロックはここまで -->
                    {% endfor %}

                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4">
                        {{ pagination.info }}
                    </div>
                    <div class="d-flex justify-content-end mb-4">
                        {{ pagination.links }}
                    </div>
                </div>
            </div>
        </div>
        <!-- メインコンテンツを設定する <div> 〜 </div> をテンプレートタグで囲む -->
        {% endblock %}