[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
werkzeug = "==2.3.0"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.11"
